<div class="container">
  <div class="row">
    <%= simple_form_for @employee, :html => { :class => 'form-horizontal' } do |f| %>

    <div class="span12">
      <%= f.error_notification %>
    </div>

    <div class="span6">
      <div class="well">
        <legend><%= controller.action_name.capitalize %> Employee</legend>

        <%= f.input :gender, :collection => ['Frau', 'Herr'], :prompt => "Select gender" %>
        <%= f.input :title, :collection => ['Dr.', 'Prof.'], :prompt => "Select title" %>
        <%= f.input :first_name %>
        <%= f.input :last_name %>
        <%= f.input :location, :collection => ['4. OG', '5. OG', '6. OG'], :prompt => "Select location" %>
        <%= f.input :note, :as => :text, :input_html => { :rows => 3 } %>
      </div>

      <div class="well">
        <%= f.submit nil, :class => 'btn btn-primary' %>
        <%= link_to t('.cancel',
          :default => t("helpers.links.cancel")),
          employees_path,
          :class => 'btn btn-danger pull-right' %>
      </div>
    </div>

    <div class="span6">
      <div class="well">
        <legend>Contact Data (optional)</legend>

        <%= f.simple_fields_for :contact do |c| %>
          <%= c.input :company_name %>
          <%= render '/contact_form', :f => c %>
        <% end %>
      </div>
    </div>

    <% end %>
  </div>
</div>
