<h1>Listing Employees</h1>

<table>
  <tr>
    <th>Gender</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Location</th>
    <th>Note</th>
    <th>Contact</th>
  </tr>

<% @employees.each do |employee| %>
  <tr>
    <td class="list_attributes">
        <%= employee.gender %>
    </td>

    <td class="list_attributes">
        <%= employee.first_name %>
    </td>

    <td class="list_attributes">
        <%= employee.last_name %>
    </td>

    <td class="list_attributes">
        <%= employee.location %>
    </td>

    <td class="list_attributes">
        <%= employee.note %>
    </td>

    <td class="list_attributes">
      <%= link_to 'Show Contact', employee.contact %>
    </td>

    <td class="list_actions">
      <%= link_to 'Show', employee %>
      <%= link_to 'Edit', edit_employee_path(employee) %>
      <%= link_to 'Destroy', employee, :confirm => 'Are you sure?', :method => :delete %>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Employee', new_employee_path %>
