<%- model_class = @employee.class -%>
<h1><%=t '.title', :default => model_class.model_name.human %></h1>

<p id="notice"><%= notice %></p>

<p>
  <strong><%= model_class.human_attribute_name(:gender) %>:</strong><br>
  <%= @employee.gender %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:title) %>:</strong><br>
  <%= @employee.title %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:first_name) %>:</strong><br>
  <%= @employee.first_name %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:last_name) %>:</strong><br>
  <%= @employee.last_name %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:location) %>:</strong><br>
  <%= @employee.location %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:note) %>:</strong><br>
  <%= @employee.note %>
</p>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              employees_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_employee_path(@employee), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              employee_path(@employee),
              :method => 'delete',
              :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
              :class => 'btn btn-danger' %>
</div>
