<%= form_for(@distributor) do |f| %>
  <% if @distributor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@distributor.errors.count, "error") %> prohibited this distributor from being saved:</h2>

      <ul>
      <% @distributor.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div id="employee_input">
    <div class="field">
      <%= f.label :company_name %><br />
      <%= f.text_field :company_name %>
    </div>  

    <div class="field">
      <%= f.label :note %><br />
      <%= f.text_area :note, :rows => 3 %>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>
  </div>

  <div id="contact_input">
    <h3>Kontaktdaten:</h3>
    <%= f.fields_for :contact do |c| %>

      <div class="field">
        <%= c.label :gender %><br />
        <%= c.select :gender, ['Herr', 'Frau'], :prompt => true %>
      </div>

      <div class="field">
        <%= c.label :title %><br />
        <%= c.select :title, ['Dr.', 'Prof.'], :prompt => true %>
      </div>

      <div class="field">
        <%= c.label :first_name %><br />  
        <%= c.text_field :first_name %>
      </div>

      <div class="field">
        <%= c.label :last_name %><br />  
        <%= c.text_field :last_name %>
      </div>

      <div class="field">
        <%= c.label :phone %><br />
        <%= c.telephone_field :phone %>
      </div>

      <div class="field">
        <%= c.label :mobile %><br />
        <%= c.telephone_field :mobile %>
      </div>

      <div class="field">
        <%= c.label :email %><br />
        <%= c.email_field :email %>
      </div>

      <div class="field">
        <%= c.label :website %><br />
        <%= c.url_field :website %>
      </div>

      <div class="field">
        <%= c.label :street1 %><br />
        <%= c.text_field :street1 %>
      </div>

      <div class="field">
        <%= c.label :street2 %><br />
        <%= c.text_field :street2 %>
      </div>

      <div class="field">
        <%= c.label :zipcode %><br />
        <%= c.text_field :zipcode %>
      </div>

      <div class="field">
        <%= c.label :town %><br />
        <%= c.text_field :town %>
      </div>

      <div class="field">
        <%= c.label :country %><br />
        <%= c.text_field :country %>
      </div>

      <div class="field">
        <%= c.label :note %><br />
        <%= c.text_area :note, :rows => 3 %>
      </div>
    <% end %>
  </div>
<% end %>