<%= simple_form_for @article, :html => { :class => 'form-horizontal' } do |f| %>

    <legend><%= controller.action_name.capitalize %> Article</legend>

    <%= f.input :producer_id, :collection => Producer.all, :label_method => :company_name, :prompt => "Select Producer" %>
    <%= f.input :distributor_id, :collection => Distributor.all, :label_method => :company_name, :prompt => "Select Distributor" %>
    <%= f.input :category %>
    <%= f.input :name %>
    <%= f.input :barcode %>
    <%= f.input :serial_no %>
    <%= f.input :purchase_date, :as => :date %>
    <%= f.input :warranty_expiration, :as => :date %>
    <%= f.input :installation_date, :as => :date %>
    <%= f.input :note, :as => :text, :input_html => { :rows => 3 } %>

    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                articles_path, :class => 'btn' %>
    </div> 

<% end %>
