<h1><%= controller.action_name.capitalize %> Article <%= @article.name %></h1>

<%= simple_form_for @article, :remote => true, :html => { :class => 'form-horizontal', :id => 'article_form' } do |f| %>

  <%= f.error_notification %>

  <div class="well">

    <%= f.input :producer_id, :collection => Producer.all, :label_method => :company_name, :prompt => "Select Producer" %>
    <%= f.input :distributor_id, :collection => Distributor.all, :label_method => :company_name, :prompt => "Select Distributor" %>
    <%= f.input :employee_id, :collection => Employee.all, :label_method => :full_name, :prompt => "Select Employee", :include_blank => true %>
    <%= f.input :category %>
    <%= f.input :name %>
    <%= f.input :barcode %>
    <%= f.input :serial_no %>
    <%= f.input :purchase_date %>
    <%= f.input :warranty_expiration, :as => :date, :prompt => true %>
    <%= f.input :installation_date, :as => :date, :prompt => true %>
    <%= f.input :note, :as => :text, :input_html => { :rows => 3 } %>
  </div>

    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                articles_path, :class => 'btn' %>
    </div> 

<% end %>
