<div id="article_list">
<h1>Listing Articles</h1>

<table>

<% @articles.each do |article| %>
	<tr class="<%= cycle('list_line_odd', 'list_line_even') %>">

		<td class="list_category_and_name">
			<dl>
				<dt><%= article.category %></dt>
				<dd><%= article.name %></dd>
			</dl>
		</td>

		<td class="list_actions">
			<%= link_to 'Show', article %>
			<%= link_to 'Edit', edit_article_path(article) %>
			<%= link_to 'Destroy', article, :confirm => 'Are you sure?', :method => :delete %>
		</td>
	</tr>
<% end %>

</table>
</div>

<br />

<%= link_to 'New Article', new_article_path %>
