<%- model_class = Article.new.class -%>
<legend><%=t '.title', :default => model_class.model_name.human.pluralize %></legend>

<%= form_tag edit_multiple_articles_path do %>
<table class="table table-striped" id="articles" >
  <thead>
    <tr>
      <th></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:category) %></th>
      <th><%= model_class.human_attribute_name(:producer) %></th>
      <th><%= model_class.human_attribute_name(:distributor) %></th>
      <th><%= model_class.human_attribute_name(:purchase_date) %></th>
      <th><%= model_class.human_attribute_name(:employee) %></th>
      <th><%= model_class.human_attribute_name(:installation_date) %></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @articles.each do |article| %>
      <tr id="<%=dom_id(article)%>">
        <td><%= check_box_tag "article_ids[]", article.id %></td>
        <td><%= link_to article.name, article_path(article) %></td>
        <td><%= article.category %></td>
        <td><% if article.producer %>
          <%= link_to article.producer.company_name, producer_path(article.producer) %>
          <% else %>
            <em>- No Producer -</em>
          <% end %>
        </td>
        <td>
          <% if article.distributor %>
            <%= link_to article.distributor.company_name, distributor_path(article.distributor) %>
          <% else %>
            <em>- No Distributor -</em>
          <% end %>
        </td>
        <td><%= article.purchase_date %></td>
        <td>
          <% if article.employee %>
            <%= link_to article.employee.full_name, employee_path(article.employee) %>
          <% else %>
            Warehouse
          <% end %>
        </td>
        <td>
          <% if article.installation_date %>
            <%= article.installation_date %>
          <% else %>
            <em>- not installed -</em>
          <% end %>
        </td>
        <td>
          <%= link_to raw('<i class="icon-edit icon-white"></i>'),
            edit_article_path(article),
            :class => 'btn btn-mini' %>

          <%= link_to raw('<i class="icon-user icon-white"></i>'),
          edit_article_path(article),
          :class => 'btn btn-mini' %>
        </td>
        <td>
          <%= link_to raw('<i class="icon-trash icon-white"></i>'),
            article_path(article),
            :method => :delete,
            remote: true,
            :confirm => t('.confirm',
              :default => t("helpers.links.confirm",
              :default => 'Are you sure?')),
            :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="12">
  <div class="well">
    <%= submit_tag "Edit Checked", :class => 'btn' %>
  </div>
</div>
<% end %>
