<div id="user_list">
  <h1>Listing users</h1>

  <table>
    <tr>
      <th>Email</th>
      <th>Password</th>
      <th>Note</th>
    </tr>

  <% @users.each do |user| %>
    <tr>

      <td class="list_email">
        <%= user.email %>
      </td>

      <td class="list_password">
        <%= user.password %>
      </td>

      <td class="list_note">
        <%= user.note %>
      </td>

      <td class="list_actions">
        <%= link_to 'Show', user %>
        <%= link_to 'Edit', edit_user_path(user) %>
        <%= link_to 'Destroy', user, confirm: 'Are you sure?', method: :delete %>
      </td>
    </tr>
  <% end %>
  
  </table>
</div>

<br />

<%= link_to 'New User', new_user_path %>
