<%- model_class = @contact.class -%>
<h1><%=t '.title', :default => model_class.model_name.human %></h1>

<p id="notice"><%= notice %></p>

<p>
  <strong><%= model_class.human_attribute_name(:contactable_type) %>:</strong><br>
  <%= @contact.contactable_type %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:company_name) %>:</strong><br>
  <%= @contact.company_name %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:gender) %>:</strong><br>
  <%= @contact.gender %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:title) %>:</strong><br>
  <%= @contact.title %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:first_name) %>:</strong><br>
  <%= @contact.first_name %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:last_name) %>:</strong><br>
  <%= @contact.last_name %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:phone) %>:</strong><br>
  <%= @contact.phone %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:mobile) %>:</strong><br>
  <%= @contact.mobile %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:email) %>:</strong><br>
  <%= @contact.email %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:website) %>:</strong><br>
  <%= @contact.website %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:street1) %>:</strong><br>
  <%= @contact.street1 %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:street2) %>:</strong><br>
  <%= @contact.street2 %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:zipcode) %>:</strong><br>
  <%= @contact.zipcode %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:town) %>:</strong><br>
  <%= @contact.town %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:country) %>:</strong><br>
  <%= @contact.country %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:note) %>:</strong><br>
  <%= @contact.note %>
</p>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              contacts_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_contact_path(@contact), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              contact_path(@contact),
              :method => 'delete',
              :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
              :class => 'btn btn-danger' %>
</div>
