<%= simple_form_for @producer, :html => { :class => 'form-horizontal' } do |f| %>

    <legend><%= controller.action_name.capitalize %> Producer</legend>

    <%= f.input :company_name %>
    <%= f.input :note, :as => :text, :input_html => { :rows => 3 } %>

    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                producers_path, :class => 'btn' %>
    </div>  

    <legend>Contact Data (optional)</legend>

    <%= f.simple_fields_for :contact do |c| %>
      <%= c.input :gender, :collection => ['Frau', 'Herr'], :prompt => "Select gender" %>
      <%= c.input :title, :collection => ['Dr.', 'Prof.'], :prompt => "Select title" %>
      <%= c.input :first_name %>
      <%= c.input :last_name %>
      <%= render '/contact_form', :f => c %>
    <% end %>

    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                producers_path, :class => 'btn' %>
    </div>  

<% end %>