<h1>Listing Producers</h1>

<table>
	<tr>
		<th>Name</th>
		<th>Note</th>
	</tr>

	<% @producers.each do |producer| %>
		<tr>
			<td class="list_name">
					<%= producer.name %>
			</td>

			<td class="list_note">
					<%= producer.note %>
			</td>

			<td class="list_actions">
				<%= link_to 'Show', producer %>
				<%= link_to 'Edit', edit_producer_path(producer) %>
				<%= link_to 'Destroy', producer, :confirm => 'Are you sure?', :method => :delete %>
			</td>
		</tr>
	<% end %>			

</table>

<br />

<%= link_to 'New Producer', new_producer_path %>