<h1>Showing Producer</h1>

<p id="notice"><%= notice %></p>

<table>
	<tr>
		<th>Name:</th>
		<td><%= @producer.name %></td>
	</tr>
	<tr>
		<th>Note:</th>
		<td><%= @producer.note %></td>
	</tr>
</table>

<%= link_to 'Edit', edit_producer_path(@producer) %> |
<%= link_to 'Back', producers_path %>
