<h1>Showing Producer</h1>

<p id="notice"><%= notice %></p>

<table>
	<tr>
		<th>Company Name:</th>
		<td><%= @producer.company_name %></td>
	</tr>
	<tr>
		<th>Note:</th>
		<td><%= @producer.note %></td>
	</tr>
	<tr>
		<th>Contact:</th>
		<td><%= link_to 'Show Contact', @producer.contact %></td>
	</tr>
</table>

<%= link_to 'Edit', edit_producer_path(@producer) %> |
<%= link_to 'Back', producers_path %>
