<!DOCTYPE html>
<html>
	<head>
		<link rel="shortcut icon" href="/favicon.ico" />
	  <title>KP Warehouse</title>
	  <!-- Fixes responsive design behaviour on mobile devices -->
	  <!--[if lt IE 9]>
    	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
  	<![endif]-->
	  <%= stylesheet_link_tag    "application", :media => "all" %>
	  <%= javascript_include_tag "application" %>
	  <%= csrf_meta_tags %>
	  <!-- Improves HTML 5 support in older IE versions -->
	  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>

	<body>

		<%= render :partial => 'layouts/navbar' %>

		<div class="container">
			<% flash.each do |name, msg| %>
				<div class="alert alert-<%= name == :notice ? "success" : "error" %>">
					<a class="close" data-dismiss="alert">x</a>
					<%= msg %>
				</div>
			<% end %>
			<div class="row">
				<div class="span12" id="content"><%= yield %></div>
				<!-- <div class="span3">
					<h1>Details</h1>
					<div id="details">
					</div>
				</div> -->
			</div>
		</div>

	</body>
</html>
